In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from citipy import citipy

ten_year_source = os.path.join('EF_Data_Sets', '2008-2019_combined.xls')
ten_year_df = pd.read_excel(ten_year_source)

ten_year_df.head()

,name,index year,overall score,property rights,government integrity,judicial effectiveness,tax burden,government spending,fiscal health,business freedom,labor freedom,monetary freedom,trade freedom,investment freedom,financial freedom
0,Afghanistan,2019,51.5,19.6,25.2,29.6,91.7,80.3,99.3,49.2,60.4,76.7,66.0,10.0,10.0
1,Albania,2019,66.5,54.8,40.4,30.6,86.3,73.9,80.6,69.3,52.7,81.5,87.8,70.0,70.0
2,Algeria,2019,46.2,31.6,28.9,36.2,76.4,48.7,18.7,61.6,49.9,74.9,67.4,30.0,30.0
3,Angola,2019,50.6,35.9,20.5,26.6,83.9,80.7,58.2,55.7,58.8,55.4,61.2,30.0,40.0
4,Argentina,2019,52.2,47.8,33.5,44.5,69.3,49.5,33.0,56.4,46.9,60.2,70.0,55.0,60.0

In [2]:
current_year_source = os.path.join('EF_Data_Sets', 'index2019_data.xls')

region_col = [1, 3]
region_df = pd.read_excel(current_year_source, usecols = region_col)
region_df.rename(columns = {"Country Name": "name", "Region": "region"}, inplace = True)

region_df.head()

          name                        region
0  Afghanistan                  Asia-Pacific
1      Albania                        Europe
2      Algeria  Middle East and North Africa
3       Angola            Sub-Saharan Africa
4    Argentina                      Americas

In [3]:
primary_df = pd.merge(ten_year_df, region_df,  how = 'outer', on = 'name')
primary_df.head()

,name,index year,overall score,property rights,government integrity,judicial effectiveness,tax burden,government spending,fiscal health,business freedom,labor freedom,monetary freedom,trade freedom,investment freedom,financial freedom,region
0,Afghanistan,2019.0,51.5,19.6,25.2,29.6,91.7,80.3,99.3,49.2,60.4,76.7,66.0,10.0,10.0,Asia-Pacific
1,Afghanistan,2018.0,51.3,17.9,26.2,28.2,91.8,79.3,98.3,53.0,57.3,77.8,66.0,10.0,10.0,Asia-Pacific
2,Afghanistan,2017.0,48.9,12.6,27.5,28.4,91.6,79.9,97.3,54.2,59.9,69.3,66.0,0.0,0.0,Asia-Pacific
3,Afghanistan,2016.0,NaN,NaN,12.0,NaN,91.6,81.2,NaN,56.6,63.2,NaN,NaN,55.0,NaN,Asia-Pacific
4,Afghanistan,2015.0,NaN,NaN,8.0,NaN,91.7,81.2,NaN,61.4,67.5,72.6,NaN,55.0,NaN,Asia-Pacific

In [ ]:
# if using columns with NaN, skip that country when plotting